*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
    scroll-padding-top: 3.5rem;
}

/* color theme */

:root{
    --bg-color: #ffffff;
    --secound-bg-color: #191919;
    --text-color: rgb(0, 0, 0);
    --secound-color: #1c1e29bf;
    --main-color: #f9004d;
    --box-color: rgb(200, 175, 122); 
    --big-font: 5.3rem;
    --h2-font: 4.2rem;
    --p-font: 1.3rem; 
}

body {
    background: var(--bg-color);
    color: var(--text-color);
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    padding: 25px 15%;
    transition-duration: .3s;
}

.logo {
    color: var(--text-color);
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 1px;
}

.navbar {
    display: flex;
}
.navbar li {
    position: relative;
}
.navbar a{
    color: var(--text-color);
    font-weight: bold;
    font-size: 1.2rem;
    padding: 10px 20px;
}
.navbar a::after{
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background: var(--main-color);
    left: 0;
    bottom: -4px;
    transition: ease .40s;
}
.navbar a:hover::after {
    width: 100%;
}

#menu-icon {
    font-size: 32px;
    color: var(--text-color);
    z-index: 10001;
    cursor: pointer;
}

.h-btn {
    padding: 0 20px;
    height: 40px;
    display: inline-block;
    line-height: 42px;
    background: var(--main-color);
    color: var(--text-color);
    border: none;
    border-radius: 30px;
    font-size: 17px;
    font-weight: 700;
    letter-spacing: 1px;
    transition: all .30s;
}

.h-btn:hover {
    transform: translateY(-10px);
}

section {
    padding: 120px 15%;
}

.home {
    height: 100vh;
    width: 100%;
    background: url(./images/white\ bg.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
}

.home-text h1 {
    margin: 20px 0px 20px;
    font-size: var(--big-font);
}
span {
    color: var(--main-color);
}
.home-text h3 {
    font-size: 25px;
    margin-bottom: 55px;
}
.home-text h4 {
    color: #484c52;
    font-size: 25px;
    letter-spacing: 2px;
}

.newsletter form {
    width: 500px;
    max-width: 100%;
    position: relative;
}
.newsletter form input:first-child {
    display: inline-block;
    width: 100%;
    outline: none;
    padding: 16px 140px 16px 15px;
    border: 2px solid var(--main-color);
    border-radius: 30px;
}

.newsletter form input:last-child {
    position: absolute;
    display: inline-block;
    outline: none;
    border: none;
    background: var(--main-color);
    color: var(--text-color);
    padding: 12px 30px;
    border-radius: 30px;
    box-shadow: 0px 0px 6px #000, 0px 0px 14px #868686;
    cursor: pointer;
    top: 6px;
    right: 6px;
}

.about {
    background: url(./images/white\ bg.jpg); 
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    align-items: center;
    grid-gap: 2rem;
}
.about-img img {
    max-width: 100%;
    width: 500px;
    height: auto;
    border-radius: 10px;
}
.about-text h2 {
    font-size: var(--h2-font);
    margin-bottom: 20px;
}
.about-text h5 {
    font-size: 28px;
    margin-bottom: 25px;
    letter-spacing: 2px;
}
.about-text p {
    color: var(--secound-color);
    letter-spacing: 1px;
    line-height: 28px;
    max-width: 590px;
    font-size: var(--p-font);
    margin-bottom: 45px;
}

.projects {
    background: url(./images/white\ bg.jpg); 
}

.center {
    text-align: center;
}

.center h2 {
    color: var(--secound-bg-color);
    font-size: var(--h2-font);
    font-weight: 700;
}
.center p {
    color: var(--main-color);
    margin-top: 20px;
    font-size: 20px;
    font-weight: 700;
}
.projects-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(370px, auto));
    grid-gap: 2rem;
    align-items: center;
    margin-top: 4.5rem;
    cursor: pointer;
}

.box img {
    max-width: 100%;
    width: 500px;
    height: auto;
    border-radius: 10px;
    margin-bottom: 20px;
    transition: all .30s;
}
box p {
    color: var(--secound-bg-color);
    font-size: var(--p-font);
    margin-bottom: 15px;
}
.box h5 {
    color: var(--text-color);
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 15px;
}
.box img:hover {
    transform: scale(1.25);
}